{% load static %}
<footer>
    <div class="container">
        <div class="footer_info">
            <div class="footer_part">
                <img class="header_logo" src="{% static 'assets/svg/logo.svg'%}" alt="" />
                <div class="p_text">
                    <p>NFT marketplace UI created with Anima for Figma.</p>
                <p>Join our community</p>
                </div>
                
                <div class="links">
                    <img src="{% static 'assets/svg/discord.svg' %}" alt="">
                    <img src="{% static 'assets/svg/youtube.svg' %}" alt="">
                    <img src="{% static 'assets/svg/twitter.svg' %}" alt="">
                    <img src="{% static 'assets/svg/instagram.svg' %}" alt="">
                    
                </div>
            </div>
            <div class="footer_part">
                <h3>Explore</h3>
                <div class="p_text"><p><a href="#">Marketplace</a></p>
                    <p><a href="#">Rankings</a></p>
                    <p><a href="#">Connect a wallet</a></p></div>
            </div>
            <div class="footer_part">
                <h3>Join Our Weekly Digest</h3>
                <div class="p_text"><p>Get exclusive promotions & updates straight to your inbox.</p></div>
                <div class="sub_input">
                    <input type="text" placeholder='Enter your email here'>
                    <button>
                      <img src="{% static 'assets/svg/emil.svg'%}" alt="" />
                      <p >Subscribe</p>
                    </button></div>
            </div>
        </div>
        <div class="footer_bottom">
            <p>Ⓒ NFT Market. Use this template freely.</p>
        </div>
    </div>
</footer>