{% extends 'base.html' %} {% load static %} {% block title %}| Change Password {% endblock title %}{% block contents %}
<div class="create_account">
    <div class="left_create_account">
        <img src="{% static 'assets/png/account.png' %}" alt="Account Image" />
    </div>
    <div class="right_create_account">
        <h1>Change Password</h1>
        
        <div class="update_profile">
            <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form}}
                <button type="submit">Change Password</button>
            </form>
        </div>
    </div>
</div>


{% endblock contents %}