{% extends 'base.html' %} {% load static %} {% block title %}| Create Account{% endblock title %}{% block contents %}
<div class="create_account">
    <div class="left_create_account">
        <img src="{% static 'assets/png/account.png' %}" alt="Account Image" />
    </div>
    <div class="right_create_account">
        <h1>Create account</h1>
        <p>Welcome! Enter your details to start creating, collecting, and selling NFTs.</p>
        <form action="{% url 'register' %}" method="POST" novalidate>
            {% csrf_token %}
            <div class="login-form">
                <img src="{% static 'assets/svg/form_log.svg'%}" alt="">
                {{ form.username }}            
            </div>
            <div class="login-form">
                <img src="{% static 'assets/svg/email.svg'%}" alt="">
                {{ form.email }}            
            </div>
            <div class="login-form">
                <img src="{% static 'assets/svg/password.svg' %}" alt="">
                {{ form.password1 }}
            </div>
            {% if form.password1.errors %}
                <div class="error-message">
                    {{ form.password1.errors.0 }}
                </div>
            {% endif %}
            
            <div class="login-form">
                <img src="{% static 'assets/svg/password.svg' %}" alt="">
                {{ form.password2 }}
            </div>
            {% if form.password2.errors %}
                <div class="error-message">
                    {{ form.password2.errors.0 }}
                </div>
            {% endif %}
            
            <div>
                <button type="submit" class="btn_account">Create Account</button>
            </div>
            <div class="sign_up">
                <a href="{% url 'login' %}">sign_up</a>
                <a href="{% url 'logout' %}">logout</a>
            </div>
        </form>
    </div>
</div>


{% endblock contents %}